%h1= @doc.title
%p= @doc.content

= link_to 'All Docs', docs_path
= link_to 'Edit Doc', edit_doc_path(@doc)
= link_to 'Trash It', doc_path(@doc), method: :delete, data: { confirm: "Are you sure you want to delete this doc?" }