#banner
  .banner_content
    %h1 File Cabinet
    %p Your life's work. Organized, always.
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Wafer lemon drops apple pie jujubes halvah cake halvah danish liquorice. Jujubes caramels marzipan marshmallow. Muffin jujubes cake halvah candy cheesecake pudding. Brownie tart tiramisu candy canes dragée. Sugar plum chocolate marshmallow cupcake. Biscuit chocolate bar candy cake candy chocolate cake ice cream dragée.


#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path