/*
*= require_self
*/
@import 'reset';
@import 'global';
@import 'docs';
@import 'welcome';

h1 {
  font-size: 30px;
  margin-bottom: 30px;
}
h4 {
  font-size: 20px;
}
p {
  padding: 10px 0;
}
main {
  padding-top: 20px;
}